<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all" th:text="${title}">Probate application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style type="text/css">

            body {
                font-family: Verdana, Arial;
                margin-top: 25px;
                margin-bottom: 25px;
                margin-right: 50px;
                margin-left: 50px;
            }

            .table-content {
                display: block;
            }
            tr.border_bottom td {
                border-bottom: 0.5pt solid black;
            }

        </style>
    </head>
    <body>
        <table>
            <tbody class="table-content">
            <tr>
                <td width="50%"></td>
                <td width="10%"></td>
                <td width="40%"></td>
            </tr>
            <tr>
                <td colspan="3" valign="top" style="font-weight: bold"><h1>{{pageTitle}}</h1></td>
            </tr>
            <tr>
                <td colspan="3">
                    <p>{{mainParagraph}}</p>
              </td>
            </tr>

            {% for section in sections %}
            <tr class="border_bottom">
                <td colspan="3" valign="top" style="font-weight: bold"><h2>{{ section.title}}</h2></td>
            </tr>
            {% for questionAndAnswerRow in section.questionAndAnswers %}
            <tr class="border_bottom">
                <td>{{ questionAndAnswerRow.question }}</td>
                <td/>
                <td>

                    {% for ans in questionAndAnswerRow.answers %}
                    <div>
                        {{ ans}}
                    </div>
                    {% endfor %}

                </td>
            </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>

